/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}

/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

/*
 * Main content
 */

.main {
    padding: 20px;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main .page-header {
    margin-top: 0;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}

.placeholders h4 {
    margin-bottom: 0;
}

.placeholder {
    margin-bottom: 20px;
}

.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

.amap-logo {
    right: 0 !important;
    left: auto !important;
    display: none;
}

.amap-copyright {
    right: 70px !important;
    left: auto !important;
}

.amap-copyright {
    width: 0 !important;
    height: 0 !important;
    display: none !important;
}

/*自己的代码*/
/*@-moz-document url-prefix() {*/
    /*fieldset {*/
        /*display: table-cell;*/
    /*}*/
/*}*/

/*.stb-box {*/
    /*display: inline-block;*/
    /*width: 500px;*/
/*}*/
/*.stb-box .form-control{*/
    /*float: left;*/
    /*width:40%;*/
/*}*/
/*.stb-box  .input-group-addon {*/
    /*float: left;*/
    /*width: 10%;*/
    /*height: 34px;*/
    /*line-height: 34px;*/
    /*padding:0;*/
    /*border:none;*/
    /*text-align:left;*/
/*}*/
/*.stb-box .btn-default{*/
    /*width: 50%;*/
/*}*/
.table-bordered th,.table-bordered td {
    text-align: center;
}
.table-bordered td input {
    text-align: center;
}
.ctrlBtn {
    margin-top:100px;
}
#ctrlBtn {
    top:50px;
}
.btnYes {
    margin:20px 50%;!important;
}
.navheight {
    height: 56px;
}
.logomargin{
    margin-top:-14px;
}
.picleft{
    float: left;
    margin-left: 50px;
}
.lampright{
    float: right;
}
.lampright label{
    height: 35px;
}

.navbar{
    background-image: -webkit-linear-gradient(top, #66b7ff 0%, #4245ff 100%);
    background-image: -o-linear-gradient(top, #66b7ff 0%, #4245ff 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#66b7ff), to(#4245ff));
    background-image: linear-gradient(to bottom, #66b7ff 0%, #4245ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-radius: 4px;
}
#hello-nav{
    font:16px '微软雅黑 Light','Microsoft YaHei UI';
    color: #fef9ff;!important;
}
#end-nav{
    font:16px '微软雅黑 Light','Microsoft YaHei UI';
    color: #fef9ff;!important;
}
#end-nav:hover{
    color: #ff1e0f;
}
#container {
    border:1px solid #3daaff;
}
#container2{
    margin-top:50px;
    border:1px solid #ffe88b;
}