<div ng-controller="powerCtrl as powerWaste">
    <div class="picleft" style="width: 70%;">
        <div id="container" style=" height: 50%"></div>
        <div id="container2" style="height: 50%"></div>
    </div>

    <div style=" width:15%;" class="lampright">
        <div class="form-group">
            <label>路灯名称:</label>
            <input type="text" class="form-control" ng-model="name" disabled="true">
        </div>
        <div class="form-group">
            <label>路灯id:</label>
            <input type="text" class="form-control" ng-model="deviceId" disabled="true">
        </div>
        <div class="form-group">
            <label>额定功率:</label>
            <input type="text" class="form-control" value="150W" disabled="true">
        </div>
        <div class="form-group">
            <label>PWM:</label>
            <input type="text" class="form-control" ng-model="num" disabled="true">
        </div>
        <div class="form-group">
            <label>STDB:</label>
            <input type="text" class="form-control" ng-model="stbd" disabled="true">
        </div>

    </div>
</div>